<app-navbar></app-navbar>
<div class="bannerSection padding">
  <div class="banner-container">
    <!-- Banner 1 -->
    <div class="banner">
      <img src="../../assets/Images/banner (8).png" alt="Banner 1" />
    </div>

    <!-- Banner 2 -->
    <!-- <div class="banner">
      <img src="../../assets/Images/banner (2).png" alt="Banner 2" />
    </div> -->
  </div>
</div>
<!-- <div class="dish_section">
  <div class="dish_container">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h2 class="section-title">What's on your mind?</h2>
      <div>
        <button class="btn rounded-circle me-1" (click)="slickPrev()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-arrow-left-circle"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"
            />
          </svg>
        </button>
        <button
          class="btn rounded-circle"
          style="position: relative; z-index: 10"
          (click)="slickNext()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-arrow-right-circle"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"
            />
          </svg>
        </button>
      </div>
    </div>
    <div class="row justify-content-center g-4">
      <ngx-slick-carousel
        #slickCarousel2
        class="carousel"
        [config]="slideConfig2"
      >
        <div ngxSlickItem *ngFor="let item of cuisinesList" class="slide">
          <div class="icon-item">
            <img [src]="item?.image" alt="Asian" />
            <p>{{ item.item_text }}</p>
          </div>
        </div>
      </ngx-slick-carousel>
    </div>
  </div>
</div> -->
<div class="dish_section">
  <div class="dish_container">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h2 class="section-title">What's on your mind?</h2>
      <div *ngIf="!detectMobile" class="d-flex">
        <button class="btn nav-btn me-1" (click)="slickPrev()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-arrow-left-circle"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"
            />
          </svg>
        </button>
        <button class="btn nav-btn" (click)="slickNext()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-arrow-right-circle"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"
            />
          </svg>
        </button>
      </div>
    </div>

    <ngx-slick-carousel
      #slickCarousel2
      class="carousel"
      [config]="slideConfig2"
    >
      <div ngxSlickItem *ngFor="let item of cuisinesList" class="slide">
        <div class="icon-item">
          <img
            [src]="item?.image"
            alt="{{ item.item_text }}"
            class="carousel-img"
          />
          <p class="item-text">{{ item.item_text }}</p>
        </div>
      </div>
    </ngx-slick-carousel>
  </div>
</div>

<section class="py-3">
  <div class="bestOpSection">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h3 class="fw-bold mb-0">Best options close to you</h3>
      <div *ngIf="!detectMobile">
        <!-- Navigation Buttons -->
        <button class="btn rounded-circle me-1" (click)="navigatePrev()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-arrow-left-circle"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"
            />
          </svg>
        </button>
        <button class="btn rounded-circle" (click)="navigateNext()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-arrow-right-circle"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"
            />
          </svg>
        </button>
      </div>
    </div>
    <ngx-slick-carousel #slickCarousel class="carousel" [config]="slideConfig">
      <div ngxSlickItem *ngFor="let item of restaurantList" class="slide">
        <div class="restaurant-card hand" (click)="onResClick(item?.id)">
          <div class="image-container">
            <img
              [src]="
                item?.image ||
                '../../assets/Images/e5491f3e2656022bbd45cf43455c5e70.jpg'
              "
              [alt]="item.res_name"
              class="restaurant-image"
            />
            <!-- <button (click)="addItem(restaurant)" class="add-button">ADD +</button> -->
          </div>
          <h5 class="restaurant-name">{{ item?.res_name }}</h5>
          <div class="restaurant-details d-flex align-items-center">
            <p>
              <!-- <span class="d-flex align-items-center">
                <img
                  src="../../assets/Images/tachometer-fast.png"
                  alt="Time Icon"
                  style="width: 16px; height: 16px; margin-right: 4px"
                />15 mins<br />
              </span> -->
              <span class="dishDetails">
                <ng-container
                  *ngFor="
                    let cuisine of item?.cuisinesList.slice(0, 4);
                    let last = last
                  "
                >
                  {{ cuisine?.item_text }}<span *ngIf="!last">, </span>
                </ng-container>
              </span>
            </p>
          </div>
        </div>
      </div>
    </ngx-slick-carousel>
  </div>
</section>

<div class="resturant_section">
  <div class="dish_container">
    <h2 class="section-title">
      Restaurants with online food delivery in Bhubaneswar
    </h2>
    <div class="row g-4">
      <div
        *ngFor="let restaurant of restaurantList"
        class="col-12 col-sm-6 col-md-4 col-lg-3"
      >
        <div class="restaurant-card hand" (click)="onResClick(restaurant?.id)">
          <div class="image-container">
            <img
              [src]="
                restaurant?.image ||
                '../../assets/Images/e5491f3e2656022bbd45cf43455c5e70.jpg'
              "
              [alt]="restaurant?.res_name"
              class="restaurant-image"
            />
            <!-- <button (click)="addItem(restaurant)" class="add-button">ADD +</button> -->
          </div>
          <h5 class="restaurant-name">{{ restaurant?.res_name }}</h5>
          <div class="restaurant-details d-flex align-items-center">
            <p>
              <!-- <img
                src="../../assets/Images/tachometer-fast.png"
                alt="Time Icon"
                style="width: 16px; height: 16px; margin-right: 4px"
              />
              15 mins -->
              <!-- <br /> -->
              <span class="dishDetails">
                <ng-container *ngIf="restaurant?.cuisinesList">
                  <ng-container
                    *ngFor="
                      let cuisine of restaurant?.cuisinesList?.slice(0, 4);
                      let last = last
                    "
                  >
                    {{ cuisine?.item_text }}<span *ngIf="!last">, </span>
                  </ng-container>
                </ng-container>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- footer section -->
<app-footer></app-footer>
